:root {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    --mystery-machine-green: #caff4d;
    --mystery-machine-blue: #8feafc;
    --mystery-machine-orange: #ff4400;

    --kingston-mansion-black: #0f0919;
    --kingston-mansion-purple: #5c526d;
    --kingston-mansion-sky: #00334b;
    --kingston-mansion-moon: #fefbba;
    --kingston-mansion-lawn: #6ac2be;
}

#app {
    display: grid;
    height: 100vh;
    grid-template-columns: max-content auto;
    grid-template-rows: min-content auto;
    grid-template-areas:
    "header header"
    "nav main";
}

header {
    grid-area: header;
    padding: 8px;
    font-size: 2em;
    background-color: var(--kingston-mansion-sky);
    color: var(--kingston-mansion-moon);
}

main-nav {
    grid-area: nav;
}

body {
    margin: 0;
}

main {
    grid-area: main;
    background-image: url("../images/kingston-mansion.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
  }